body{
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
}

.crud-container{
  width: auto;
}

.article-container{
  padding: 20px;
}

.form-controls-container{
  display: flex;
}

.controls-container{
  margin:10px;
}

.text-editor-content {
  width: 800px;
  height: 500px;
  padding-bottom: 42.84px;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

#editor, #editor-modify, .ql-toolbar{
  background: #ddd;
  color: black;
}

/*
.toolbar button {
  border: none;
  outline: none;
  background-color: transparent;
  margin-right: 5px;
  color:rgb(253, 232, 203);
  padding: 10px;
}

.toolbar button:hover {
  color:rgb(255, 179, 37);
  cursor:default;
  background-color: #242424;
}

.text-editor-box{
  background-color: aliceblue;
  position: relative;
  height: 500px;
  width: 100%;
  color: black;
  padding: 10px;
  overflow-y: scroll;
}

.text-editor-box:empty{
  background: rgb(0, 72, 136);
  height: 100%;
  width: 100%;
  color: black;
}

*/

.control-container{
  margin-bottom: 20px;
}

.spanMessageError {
  color: rgb(255, 130, 130);
  font-family: 'Courier New', Courier, monospace;
  display: block;
}

.spanMessageOK{
  color: rgb(211, 255, 145);
  font-family: 'Courier New', Courier, monospace;
  display: block;
}

.btnOp-container {
  display: flex;
}

#button_modify, #button_create {
  background-color: rgb(0, 122, 0);
  display: inline-block;
}

#button_delete {
  background-color: rgb(197, 0, 0);
  display: inline-block;
}

#button_modify:hover, #button_create:hover {
  background-color: rgb(0, 95, 21);
}

#button_delete:hover {
  background-color: rgb(126, 0, 0);
}

.buttonOp {

  color: #ffffff;
  border-color: #0d0d0d;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 10px 10px 010px 10px;
  padding-left: 20px;
  width: 100%;
  margin: 5px;
}

.buttonOp:disabled,
.buttonOp[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:default;
}

#button_modify:disabled,
#button_modify[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:default;
}

#button_delete:disabled,
#button_delete[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:default;
}

#button_create:disabled,
#button_create[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor:default;
}

.control-container > input {
  border-color: #0d0d0d;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 10px 10px 010px 10px;
  padding-left: 20px;
  width: 100%;
}

.control-container > textarea {
  border-color: #0d0d0d;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 10px 10px 010px 10px;
  padding-left: 20px;
  width: 100%;
  height: 7em;
  resize: none;
}

.control-container > select {
  border-color: #0d0d0d;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 10px 10px 010px 10px;
  padding-left: 20px;
  width: 100%;
}

.tituloOperacion{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#search-article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-article-container div{
  display: flex;
  justify-content: center;
}

#search-article-container div > input {

  border-color: #0d0d0d;
  border: none;
  outline: none;
  height: 35px;
  border-radius: 10px 0px 0px 10px;
  padding-left: 20px;
}

#search-article-container div > button {
  background-color: rgb(37, 112, 252);
  color: white;
  border-color: #0d0d0d;
  border: none;
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
}

#search-article-container > button:hover {
  background-color: rgb(23, 74, 168);

}

.loader_search, .loader_search:before, .loader_search:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader_search {
  color: #FFF;
  font-size: 3px;
  position: absolute;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
  left: 372px;
  top: 15px;
  display: none;
}
.loader_search:before,
.loader_search:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader_search:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader_search:after {
  left: 3.5em;
}


@keyframes bblFadInOut {
  0%, 80%, 100% { box-shadow: 0 2.5em 0 -1.3em }
  40% { box-shadow: 0 2.5em 0 0 }
}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }


  @media screen and (max-width: 768px) {
    .text-editor-content {
      width: 400px;
    }
  }